<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Title </th>
        <th> Reg_Date </th>
    </tr>
    </thead>
    <tbody>
        <tr th:if="${boardList == null or boardList.isEmpty()}">
            <td colspan="2"> Board List </td>
        </tr>
        <tr th:each="board : ${boardList}">
            <td><a th:href="@{'/detail/'+${board.id}}">No.<span th:text="${board.id}"></span></a></td>
            <td><span th:text="${board.title}">  </span></td>
            <td><span th:text="${board.regDate}">  </span></td>
        </tr>
    </tbody>
</table>
<a href="/create">Create</a>
</body>
</html>